@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(31, 30, 30);
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__container{
    padding: 20px 10px ;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background: grey;
    border-radius: 10px;
}
.form__input {
    border: none;
    width: 200px;
    padding: 10px 35px 10px 15px;
    border-radius: 8px;
    background-color: #252525;
    color: white;
}

.form__input placeholder  {
    background: rgb(136, 67, 67);
}

.form__submit__btn {
    font-size: 0.9rem;
    background: linear-gradient(90deg, #ffa100, #ff005c);
    color: white;
    padding: 10px 25px;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid black;
}

.form__field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form__field.error input {
    border: 3px solid #e8f83f;
}

.form__field.error .form__submit__btn{
    border:  2px solid black;
}

.form__field.error small {
    color: #e8f83f;
    max-width: 350px;
    text-align: center;
    padding: 7px 0;
}

.form__field.success small {
    display: none;
  }


#Pizza {
    color: black;
    font-size: 24px;
}  

#Precio {
    color: black;
    font-size: 24px;
}

.form__field.error h2 {
    display: none;
} 

.form__field.error h3 {
    display: none;
} 

@media (max-width : 500px) {
   .form__container h1 {
    font-size: 24px;
   }
   
    #Pizza, 
    #Precio {
        font-size: 15px;
    }
}